@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,600&family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
/* common styling---------------------- */
html{
    scroll-behavior: smooth; 
  }
  .player ,.schedule ,.ticket ,.venue, .contact{
    font-family: 'poppins' san serif;
    margin-top:30px;
}
.player .title,.schedule .title,.ticket .title,.venue .title,.contact .title{
    position:relative;
    text-align:center;
    font-size:70px;
    font-weight: 500;
    margin-bottom:60px;
    padding-bottom:20px;
    font-family: 'Ubuntu', sans-serif; 
    text-decoration: #111;
}   

.player .title .title_btm,.ticket .title .title_btm,.contact .title .title_btm {
    font-size:30px;
    color:#17594A;
   
    
 }

 hr{
    
    border-style: dotted none none none;

    height: 0px;
    width:7%;
    border-color: grey;
    border-width: 5px;
    
    
  
    
}
  /* navbar styling-------------------- */
.navbar{
    position:fixed;
    width:100%;
    padding: 10px 0;
  
    background: #17594A;
   z-index:999;
    font-family: 'Ubuntu' , san-serif;
    transition: all 0.3s ease;
}

 .navbar.sticky{     /*.sticky */
    padding: 5px 0;

}

.navbar .logo a{
    color:#fff;
font-size:40px;
font-weight:600;
}

.navbar .menu li{
    list-style:none;
    display:inline-block;
}
.navbar .menu li a{
color:#E1ECC8;
font-size:25px;
font-weight:500;
padding: 0.4rem;
margin-left:25px;
transition: color 0.3s ease;    /* diff */
}
.navbar .menu li a:hover{
    color:#F7D060;
}
.navbar .max-width{
    display:flex;
  
   align-items: center;
   justify-content:space-between;

}
.navbar.sticky .menu li a:hover{
color:white;
}



.port{
    border-radius: 200%;
    float:left;
    width:100px;
    height:100px;
}

.max-width  {
    max-width:2000px;
    padding: 0px 80px;
    margin:auto;
}

/* menu button styling---------------- */

.menu-btn{
    color: #fff;
    font-size:23px;
    cursor:pointer;
    display:none;
    
    }
    

/* pic +/know me */
.logo{
   
    display:flex;
    gap:15px;
}
.logo a{
    align-self:center;
    size:10px;
    
}

/* home section */

.home{
    display:flex;
  
    background: url("bg1.jpg") no-repeat center;
   
    height:100vh;
    color:#fff;
    min-height:500px;
    font-family: 'Ubuntu' , san-serif;
   background-size: cover;
 
}



.home .max-width{
    display:flex;

justify-content:center;
align-items: center;
background-color: #222;
opacity: 0.7;

width: 600px;
height: 300px;
}
.home .max-width .home-content{
    padding: 50px 20px 0px 20px;
   
}
.home .home-content .text-1{
    font-size:30px;
    font-weight:400;

    
}
.home .home-content .text-2{
    font-size:60px;
    font-weight:600;
    margin-left: -3px;
 
}
.home .home-content .text-3{
    font-size:40px;
    margin: 5px 0;
    
}

.home .home-content .text-3 span{
    color: #F3E99F;
    font-weight:600;
}

/* player section styling---------------- */
.player .player-content .head{
text-align: center;
font-size: 50px;
font-family: 'Ubuntu', sans-serif; 
padding:30px;
}
.player .player-content img{
    width: 160px;
    height: 200px;
    padding:20px;
   
}
.player .player-content .profile{
    display:flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}



.player .player-content .z{
    background-color: #E1ECC8;
    display:flex;
   
    justify-content: center;
    align-items: center;
    
}
.player .player-content .text h2{
    font-size: 30px;
    color: #17594A;
    font-weight:450;
    font-family: 'Ubuntu', sans-serif;
}
.player .player-content .z .text{
    font-family:poppins;
    padding: 50px;
    width:1200px;
}
.player .player-content .text p{
    font-size: 20px;
    font-family:poppins;
}

/* schedule section styling----------------- */

.schedule{
    
    background:#fff;
   
}
.schedule-content{
    display:flex;
    gap:10px;
}

.schedule .schedule-content .card  i{
    font-size:50px;
    color: #fff;
    text-align: center;
}


.schedule .schedule-content .card{
    opacity:0.9;
    width: calc(50% - 20px);
    /* width:200px;
    height:200px; */
    background:#17594A;
    
    border-radius:7px;
    padding: 20px 25px;
    cursor:pointer;
}

.schedule .schedule-content .card  .text{
    color:white;
    font-family:'Ubuntu';
    text-align:center;
    font-size: 35px;
    font-weight:500;
    margin: 10px 0 12px 0;
}
.schedule .schedule-content  ul li{
    font-size:20px;
    font-family:poppins;
    color:#fff;
    margin-top:20px;
    margin-left:30px;
}

.schedule .schedule-content .card .box{
    transition:all 0.3s ease;
}
.schedule .schedule-content .card:hover{
    background: #4d4747;
}


/* ticket section styling------------ */

.btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: Arial;
    color: #ffffff;
    font-size: 24px;
    background: #29611d;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    /* justify-content: center;*/
    
  }
  
  .btn:hover {
    background: #337818;
    background-image: -webkit-linear-gradient(top, #337818, #5ba824);
    background-image: -moz-linear-gradient(top, #337818, #5ba824);
    background-image: -ms-linear-gradient(top, #337818, #5ba824);
    background-image: -o-linear-gradient(top, #337818, #5ba824);
    background-image: linear-gradient(to bottom, #337818, #5ba824);
    text-decoration: none;
    margin:auto;
  }
  .ticket-content{
    display:flex;
    gap:10px;
    flex-direction:column;
    justify-content: center;
    align-items: center;
  }
 .ticket p{
   font-size:25px;
   font-family:poppins;
   text-align: center;
   margin-bottom:10px;
   
   

  }

/* venue styling----------------------- */

.venue-content{
    display:flex;
    flex-direction:column;
    gap:50px;
}
.venue-content .stadium img{
    float:left;
    margin-right: 20px;
}
.stadium-text{
    font-size:20px;
    font-weight:100;
    color: #17594A;
    font-family: 'Ubuntu';
    /* padding:20px; */
    /* margin-top:20px; */
}
.stadium-desc{
    font-size:20px;
    color: #222;
    font-weight:300;
    font-family: poppins; 
    margin-top:10px;
}



    /* Contact Me section styling--------------------------- */


.contact .contact-content {
    display:flex;
    flex-direction:column;
    text-align: center;
    margin: 20px 500px 20px 500px !important;
    /* background:#222; */
    
  }


  input[type=submit] {
    width: 100%;
    background-color: #17594A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size:1.1rem;
  }
  input[type=submit]:hover {
background:#4d5357;
  }

  input[type=text], select {
    width: 100%;
    background:#E1ECC8;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:30px;
  }
  input[type=email], select {
    width: 100%;
    background:#E1ECC8;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:30px;
  }
  textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size:30px;
  }


    /* footer section styling -------------- */

  .footerz p{
    color:#E1ECC8;
    text-align: center;
    background: #17594A;
    font-size:20px;
    padding-bottom:4px;
    font-family:poppins;
  }
  .foot{
   background-color:#17594A;
    display:flex;
    height:80px;
    gap: 30px;
    justify-content:center;
    align-items:center;
  }
  .foot i{
    color: #E1ECC8;
    font-size:35px;
  }
  .foot i:hover{
    color: #F7D060;
    font-size:30px;
  }

    /* resonsive------------------ */

    
    @media(max-width:2000px){
        .home .max-width{
            margin-left:0px;
            margin-right:0px;
         
    }
    .contact .contact-content {
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        margin: 20px 100px 20px 100px !important;
        /* background:#222; */
        
      }
    }

    @media(max-width:1200px){
        .home .max-width{
            margin-left:0px;
         
    }
    .contact .contact-content {
        display:flex;
        flex-direction:column;
        justify-content: center;
        text-align: center;
        margin: 20px 120px 20px 120px !important;
        /* background:#222; */
        
      }
    }
    @media(max-width: 947px){
        .max-width{
            padding:0 50px;}
        
    
          .home .home-content .text-2{
              font-size:60px;
             }
          .home .home-content .text-3{
              font-size:32px;
             }
    
        .schedule-content{
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items: center;
    
        }
            
             .schedule .schedule-content .card{
             
              width:400px;
              height:300px;
              background:#17594A;
            
              border-radius:7px;
              padding: 20px 25px;
              cursor:pointer;
          }
    
          .schedule .schedule-content .card  .text{
              font-size: 30px;
              font-weight:500;
              margin: 10px 0 12px 0;
              font-family: 'Ubuntu'
          }
          .schedule .schedule-content  ul li{
              font-size:17px;
              font-family:poppins;
          }
    
          .menu-btn{
            display:block;
            z-index:999;
            }
            .menu-btn i.active:before{
             content:"\f00d";
            }
        .navbar .menu{
            position: fixed;
            height:100vh;
            width:100%;
            background:#111;
           left:-100%;
           top:0;
           text-align:center;
           padding:100px;
           transition: all 0.3s ease;
        }
        .navbar .menu.active{               /*.active*/
     left:0;
        }
        .navbar .menu li{
            display:block;
        }
        .navbar .menu li a{
            display:inline-block;
            margin:20px 0;
            font-size:25px;
        }
        .player .player-content .z{
           
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
        } 
        .player .player-content .z .text{
            width:820px;
            margin-top:-40px;
            text-align:center;
        }
        .player .player-content .z img{
            padding:10px;
        }
        }
        @media(max-width: 950px){
            .max-width{
                padding: 0 23px;
            }
            .player .player-content .z .text{
                width:650px;
                margin-top:-40px;
                text-align:center;
            }
          }
        @media(max-width: 800px){
            .max-width{
                padding: 0 23px;
            }
            .player .player-content .z .text{
                width:600px;
                margin-top:-40px;
                text-align:center;
            }
          }
  
  @media(max-width: 690px){
    .max-width{
        padding: 0 23px;
    }
    .player .player-content .z .text{
        width:650px;
        margin-top:-40px;
        text-align:center;
    }
  }

  @media(max-width: 500px){
    .max-width{
        padding: 0 23px;
    }
    .player .player-content .z .text{
        width:650px;
        margin-top:-40px;
        text-align:center;
    }
  }
  @media(max-width: 420px){
    .max-width{
        padding: 0 23px;
    }
    .player .player-content .z .text{
        width:350px;
        margin-top:-40px;
        text-align:center;
    }
  }
  @media(max-width: 400px){
    .max-width{
        padding: 0 23px;
    }
    .player .player-content .z .text{
        width:300px;
        margin-top:-40px;
        text-align:center;
    }
  }





    




